<div id = "div_control_temp">
    <h2><strong>Control de ambiente salón</strong></h2>
    <span class = "display" id = "temperatura_display">Temperatura: </span>
    <span class = "display" id = "humedad_display">Humedad: </span>
    <canvas id="grafica"></canvas>
</div>


<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/4.2.7/mqtt.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
<script>
  $(document).ready(function() {
    var tiempo = []; // Array para almacenar los valores de tiempo
    var temperatura = []; // Array para almacenar los valores de temperatura
    var humedad = []; // Array para almacenar los valores de humedad

    var client = mqtt.connect('ws://broker.emqx.io:8083/mqtt');

    client.on('connect', function () {
      client.subscribe('habitacion/1');
    });

    var resultado;

    client.on('message', function (topic, message) 
    {
      resultado = JSON.parse(message);
      //console.log(resultado);
      var mensaje = message.toString();

        if(resultado['Temperatura'] <= 5)
        {
            $('#temperatura_display').css("background-color","#0015adb0");
        }else
        if(resultado['Temperatura'] > 5 && resultado['Temperatura'] < 25)
        {
            $('#temperatura_display').css("background-color","#0de5fbcf");
        }else
        if(resultado['Temperatura'] > 25 && resultado['Temperatura'] < 35)
        {
            $('#temperatura_display').css("background-color","#ffc45e");
        }else
        if(resultado['Temperatura'] >= 35)
        {
            $('#temperatura_display').css("background-color","#e51d1dcf");
        }

        $('#temperatura_display').text("Temperatura: " + resultado['Temperatura'].toFixed(2)+ " °C");

        $('#humedad_display').text("Humedad: " + resultado['Humedad'].toFixed(2)+ "%");

        agregarDatos(obtenerTiempoActual(),parseInt(resultado['Temperatura'].toFixed(2)),parseInt(resultado['Humedad'].toFixed(2)));

    });

    var ctx = document.getElementById('grafica').getContext('2d');
    var grafica = new Chart(ctx, {
      type: 'line',
      data: {
        labels: tiempo,
        datasets: [
          {
            label: 'Temperatura',
            data: temperatura,
            borderColor: 'red',
            borderWidth: 1,
            fill: false,
            radius: 0
          },
          {
            label: 'Humedad',
            data: humedad,
            borderColor: 'blue',
            borderWidth: 1,
            fill: false,
            radius: 0
          }
        ]
      },
      options: {
        scales: {
          x: {
            type: 'time',
            time: {
              unit: 'minute'
            }
          },
          y: {
            type: 'linear'
          }
        }
      }
    });

    function obtenerTiempoActual() {
      var fecha = new Date();
      return fecha.toISOString();
    }

    function agregarDatos(tiempoNuevo, temperaturaNuevo, humedadNuevo) {
      tiempo.push(tiempoNuevo);
      temperatura.push(temperaturaNuevo);
      humedad.push(humedadNuevo);

      grafica.update();
    }

  });

</script>