<div id = "div_control_temp">
    Temperatura:<p id = "temperatura_display"></p>
</div>
<script src="jquery-3.6.4.min.js"></script>

<script>
  $(document).ready(function() {
    // Función para actualizar el contenido del span
    function actualizarTemp(mensaje) {
      $('#temperatura_display').text(mensaje);
    }

    // Función para realizar la solicitud AJAX
    function obtenerMensajeMQTT() {
      $.ajax({
        url: '/mensaje-mqtt',
        method: 'GET',
        success: function(data) {
          actualizarTemp(data.mensaje);
        },
        error: function(err) {
          console.log('Error al obtener el mensaje MQTT:', err);
        }
      });
    }

    // Obtener el mensaje MQTT inicial al cargar la página
    obtenerMensajeMQTT();

    // Establecer un intervalo para actualizar el mensaje cada cierto tiempo (por ejemplo, cada 5 segundos)
    setInterval(obtenerMensajeMQTT, 500);
  });

</script>