<div id = "div_control_temp">
    Temperatura:<p id = "temperatura_display"> <%= mensajeMQTT %></p>
</div>
<script src="jquery-3.6.4.min.js"></script>
<script>
    $('#temperatura_display').text(<%= mensajeMQTT %>)
</script>