<div id = "control_luces" style="display: none;">
    <a id = "boton_habitacion_1" href = "/aplicacion/luces/1">Encender habitacion 1</a>
    <a id = "boton_habitacion_2" href = "">Encender habitacion 2</a>
    <a id = "boton_habitacion_3" href = "">Encender habitacion 3</a>
    <a id = "boton_habitacion_4" href = "">Encender habitacion 4</a>
    <a id = "boton_habitacion_5" href = "">Encender habitacion 5</a>
</div>