<div id = "div_control_luces">
    <a class="boton_gpio_on" id = "boton_habitacion_1" href = "/aplicacion/luces/1/1">Encender habitacion 1</a>
    <a class="boton_gpio_off" id = "boton_habitacion_1" href = "/aplicacion/luces/1/0">Apagar habitacion 1</a>
    <a class="boton_gpio_on" id = "boton_habitacion_2" href = "/aplicacion/luces/2/1">Encender habitacion 2</a>
    <a class="boton_gpio_off" id = "boton_habitacion_2" href = "/aplicacion/luces/2/0">Apagar habitacion 2</a>
    <a class="boton_gpio_on" id = "boton_habitacion_3" href = "/aplicacion/luces/3/1">Encender habitacion 3</a>
    <a class="boton_gpio_off" id = "boton_habitacion_3" href = "/aplicacion/luces/3/0">Apagar habitacion 3</a>
    <a class="boton_gpio_on" id = "boton_habitacion_4" href = "/aplicacion/luces/4/1">Encender habitacion 4</a>
    <a class="boton_gpio_off" id = "boton_habitacion_4" href = "/aplicacion/luces/4/0">Apagar habitacion 4</a>
    <a class="boton_gpio_on" id = "boton_habitacion_5" href = "/aplicacion/luces/5/1">Encender habitacion 5</a>
    <a class="boton_gpio_off" id = "boton_habitacion_5" href = "/aplicacion/luces/5/0">Apagar habitacion 5</a>
</div>