<div id = "div_control_temp">
    Temperatura:<p id = "temperatura_display"></p>
</div>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/4.2.7/mqtt.min.js"></script>

<script>
  $(document).ready(function() {

    function actualizarTemp(mensaje) {
      $('#temperatura_display').text(mensaje);
    }
    var client = mqtt.connect('ws://broker.emqx.io:8083/mqtt');
    client.on('connect', function () {
      client.subscribe('habitacion/1');
    });

    client.on('message', function (topic, message) {
      var mensaje = message.toString();
      actualizarTemp(mensaje);
    });

  });

</script>