<div id = "div_control_temp">
    <span id = "temperatura_display"> Temperatura </span>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="<https://unpkg.com/mqtt/dist/mqtt.min.js>"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io(); // Connect the socket on the port defined before.

        socket.on('update-value', function (value) {
            console.log('received new value', value);
            $('#temperatura_display').text(value);
        });
        
    </script>
</div>