<div id = "div_control_temp">
    <span id = "temperatura_display">Temperatura: </span>
</div>
<script src="jquery-3.6.4.min.js"></script>
<script>
    alert(<% helper.leerTemperatura(cliente) %>);
</script>