<div id="div_control_luces">
    <button class="boton_gpio_on" onclick="boton_habitacion_on(1)">Encender habitacion 1</button>
    <button class="boton_gpio_off" onclick="boton_habitacion_off(1)">Apagar habitacion 1</button>
    <button class="boton_gpio_on" onclick="boton_habitacion_on(2)">Encender habitacion 2</button>
    <button class="boton_gpio_off" onclick="boton_habitacion_off(2)">Apagar habitacion 2</button>
    <button class="boton_gpio_on" onclick="boton_habitacion_on(3)">Encender habitacion 3</button>
    <button class="boton_gpio_off" onclick="boton_habitacion_off(3)">Apagar habitacion 3</button>
    <button class="boton_gpio_on" onclick="boton_habitacion_on(4)">Encender habitacion 4</button>
    <button class="boton_gpio_off" onclick="boton_habitacion_off(4)">Apagar habitacion 4</button>
    <button class="boton_gpio_on" onclick="boton_habitacion_on(5)">Encender habitacion 5</button>
    <button class="boton_gpio_off" onclick="boton_habitacion_off(5)">Apagar habitacion 5</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/gpio.js@2.0.0/dist/gpio.js"></script>
<script>

    let gpio;

    function boton_habitacion_on(numero_habitacion) {
        console.log(`Enciendo habitación ${numero_habitacion}`);
        gpio.write(numero_habitacion, true);
    }

    function boton_habitacion_off(numero_habitacion) {
        console.log(`Apago habitación ${numero_habitacion}`);
        gpio.write(numero_habitacion, false);
    }
    document.addEventListener('DOMContentLoaded', () => {
        gpio.open({ pin: 17, direction: 'out' });
        gpio.open({ pin: 27, direction: 'out' });
        gpio.open({ pin: 22, direction: 'out' });
        gpio.open({ pin: 5, direction: 'out' });
        gpio.open({ pin: 6, direction: 'out' });
    });
</script>
