<div id = "div_control_temp">
    <span id = "temperatura_display">
    </span>
</div>
<script src="jquery-3.6.4.min.js"></script>
<script>
    $('#temperatura_display').text(helper.leerTemperatura(cliente));

</script>