<div id = "div_control_temp">
    <span id = "temperatura_display"> Temperatura </span>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="<https://unpkg.com/mqtt/dist/mqtt.min.js>"></script>
    <script>
        var socket = io('http://localhost:8080'); // Connect the socket on the port defined before.

        socket.on('update-value', function (value) { // When a 'update-value' event is received, execute the following code.
            console.log('received new value', value);
            $('#temperatura_display').text(value);
        });

        const client = mqtt.connect('ws://broker.emqx.io:8083/mqtt',{
        clientId,
        username,
        password,
        reconnectPeriod: 1000
        });
        client.on('connect', function()
            {
                console.log('conectado a broker mqtt');
                client.subscribe('topic_luces', function (error)
                {
                    if(error)
                    {
                        console.log('error conectando a topic_luces');
                        return;
                    }else{
                        client.publish('topic_luces',"Hola: soy raspberryPi",0);
                    }
                })
                client.subscribe('habitacion/1'), function (error)
                {
                    if(error)
                    {
                        console.log('error conectando a habitacion/1');
                        return;
                    }else{
                        client.publish('habitacion/1',"Hola: soy raspberryPi",0);
                    }
                }
            });

            client.on('message', function(topic, message, packet){
                if(topic === "habitacion/1")
                {
                    resultado = JSON.parse(message);
                    console.log(resultado);
                    temperatura = resultado['Temperatura'];
                    humedad = resultado['Humedad'];
                    sensacion_termica = temperatura + 0.348 * (humedad/100 * 6.105 * Math.pow(Math.E,(17.27*temperatura/(237.7+temperatura)))) - 4.25;
                    console.log(`Sensación térmica: ${sensacion_termica}`);
                }

                $('#temperatura_display').text(temperatura);
            })
    </script>
</div>