<div id="div_control_luces" style="text-align: center;">
  <h2><strong>Control de luces</strong><br></h2>
  Dormitorio Principal
  <div><button id="boton_1" class="boton_luz" onclick="control_luces(0)"></button></div>
  Salon
  <div><button id="boton_2" class="boton_luz" onclick="control_luces(1)"></button></div>
  Cocina
  <div><button id="boton_3" class="boton_luz" onclick="control_luces(2)"></button></div>
  Baño
  <div><button id="boton_4" class="boton_luz" onclick="control_luces(3)"></button></div>
  Patio
  <div><button id="boton_5" class="boton_luz" onclick="control_luces(4)"></button></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

<script>
  function control_luces(num_habitacion) {
      axios.get(`/aplicacion/luces/${num_habitacion}`,{ timeout: 200 });
  };
</script>