<div id = "div_control_aire">
    Cocina
    <span class = "display" id = "CO_display/1">CO (Monóxido de carbono): </span>
    <span class = "display" id = "Butano_display">Butano: </span>
    <canvas id="grafica_aire"></canvas>
    <button class="boton_gpio_off" onclick = 'saltarAlarma()' >ALARMA</button>
</div>


<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/4.2.7/mqtt.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>

<script>
  $(document).ready(function() {
    var tiempo = []; 
    var co = []; 
    var butano = []; 

    var client = mqtt.connect('ws://broker.emqx.io:8083/mqtt');

    client.on('connect', function () {
      client.subscribe('cocina');
    });

    var resultado;

    client.on('message', function (topic, message) 
    {
        resultado = JSON.parse(message);
        var mensaje = message.toString();
        var butano_f = parseFloat(resultado['Butano']);
        var co_f = parseFloat(resultado['CO']);
        if(co_f >0.8 || butano_f >0.8)
        {
          axios.get('/alarma/gases',{timeout: 20 })
          .then(response=>{
              console.log('Alarma enviada con éxito');
            })
            .catch(error => {
              console.error('Error al enviar la alarma', error);
            });
        }

        actualizarCO("CO (Monóxido de carbono): " + butano_f);
        actualizarButano("Butano: " + co_f);

        agregarDatos(obtenerTiempoActual(),co_f,butano_f);

    });

    function actualizarCO(mensaje) {
      $('#CO_display').text(mensaje);
    }

    function actualizarButano(mensaje){
        $('#Butano_display').text(mensaje);
    }

    var ctx = document.getElementById('grafica_aire').getContext('2d');
    var grafica = new Chart(ctx, {
      type: 'line',
      data: {
        labels: tiempo,
        datasets: [
          {
            label: 'CO',
            data: co,
            borderColor: 'red',
            borderWidth: 1,
            fill: false,
            radius: 0
          },
          {
            label: 'Butano',
            data: butano,
            borderColor: 'blue',
            borderWidth: 1,
            fill: false,
            radius: 0
          }
        ]
      },
      options: {
        scales: {
          x: {
            type: 'time',
            time: {
              unit: 'minute'
            }
          },
          y: {
            beginAtZero: true
          }
        }
      }
    });

    function obtenerTiempoActual() {
      var fecha = new Date();
      return fecha.toISOString();
    }

    function agregarDatos(tiempo_actual, CO_actual, Butano_actual) {
      tiempo.push(tiempo_actual);
      co.push(CO_actual);
      butano.push(Butano_actual);

      grafica.update();
    }

  });

  function saltarAlarma()
  {
    axios.get('/alarma/gases',{timeout: 20 })
          .then(response=>{
              console.log('Alarma enviada con éxito');
            })
            .catch(error => {
              console.error('Error al enviar la alarma', error);
            });
  }
</script>