<div id = "div_control_luces">
    <button class="boton_gpio_on" onclick=boton_habitacion_on(1)>Encender habitacion 1</button>
    <button class="boton_gpio_off" onclick=boton_habitacion_off(1)>Apagar habitacion 1</button>
    <button class="boton_gpio_on" onclick=boton_habitacion_on(2)>Encender habitacion 2</button>
    <button class="boton_gpio_off" onclick=boton_habitacion_off(2)>Apagar habitacion 2</button>
    <button class="boton_gpio_on" onclick=boton_habitacion_on(3)>Encender habitacion 3</button>
    <button class="boton_gpio_off" onclick=boton_habitacion_off(3)>Apagar habitacion 3</button>
    <button class="boton_gpio_on" onclick=boton_habitacion_on(4)>Encender habitacion 4</button>
    <button class="boton_gpio_off" onclick=boton_habitacion_off(4)>Apagar habitacion 4</button>
    <button class="boton_gpio_on" onclick=boton_habitacion_on(5)>Encender habitacion 5</button>
    <button class="boton_gpio_off" onclick=boton_habitacion_off(5)>Apagar habitacion 5</button>
</div>

<script>
    const gpio = require('rpi-gpio');

    gpio.setMode('mode_bcm');
    gpio.setup(17,'out');
    gpio.setup(27,'out');
    gpio.setup(22,'out');
    gpio.setup(5,'out');
    gpio.setup(6,'out');

    function boton_habitacion_on(numero_habitacion)
    {
        console.log(`Enciendo habitación ${numero_habitacion}`);
        GPIO.output(numero_habitacion,true);
    }

    function boton_habitacion_off(numero_habitacion)
    {
        console.log(`Apago habitación ${numero_habitacion}`);
        GPIO.output(numero_habitacion,false);
    }
</script>