h1{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4px;
}
p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

#div_introduccion{
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 5px;
    background-color: #ffffffba;
    border: 1px solid black;
    border-radius: 4px;
    max-width: 1000px;
}

#div_contacto{
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 5px;
    background-color: #ffffffba;
    border: 2px solid black;
    border-radius: 4px;
    max-width: 1000px;
}
#div_lista_aplicaciones
{
    text-align: center;
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 5%;
    padding: 5px;
    background-color: #ffffffba;
    border: 2px solid black;
    border-radius: 4px;
    max-width: 200px;
}

.boton_alarma
{
    padding: 10px;
    margin: auto;
    border: 4px solid black;
    border-radius: 5px;
    margin-top: 50px;
    background: #ca4d4d;
    transition-duration:0.5s;
}

.boton_luz
{
    display: inline-block;
    padding: 5px;
    margin: 2%;
    border: 4px solid black;
    border-radius: 82px;
    width: 50px;
    height: 50px;
    background: white;
    transition-duration:0.5s;
}

#div_pagina
{
    text-align: center;
    width: 100%;
}

#div_control_luces
{
    text-align: center;
    background: rgb(224, 223, 223);
    display: inline-table;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 440px;
    font-family: math;
}

#div_control_temp
{
    text-align: center;
    background: #ffffffba;
    display: inline-table;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 440px;
    font-family: math;
}

#div_control_aire
{
    text-align: center;
    background: #ffffffba;
    display: inline-table;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 440px;
    font-family: math;
}

.display{
    background-color: #c9f0ff61;
    display: block;
    padding: 10px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: math;
    font-size: large;
}