<html>
    <head>
        <%- include('includes/dependencies.ejs') -%>
    </head>
    <body>
        <%-include('includes/menu.ejs')-%>
        <div id="div_lista_aplicaciones">
            <button>Control de luces</button>
            <button>Control de temperatura</button>
            <button>Control de movimiento</button>
            <button>Registros</button>
            <button>Dispositivos</button>
    </body>
</html>