<html>
    <head>
        <%- include('includes/dependencies.ejs') -%>
    </head>
    <body>
        <%-include('includes/menu.ejs')-%>
        <li>
            <ul>Control de luces</ul>
            <ul>Control de temperatura</ul>
            <ul>Control de movimiento</ul>
            <ul>Registros</ul>
            <ul>Dispositivos</ul>
        </li>
    </body>
</html>