<html>
    <head>
        <%- include('includes/dependencies.ejs') -%>
    </head>
    <body>
        <%-include('includes/menu.ejs')-%>
        <div id="div_lista_aplicaciones">
            <button onclick="clickControlLuces()">Control de luces</button>
            <button>Control de temperatura</button>
            <button>Control de movimiento</button>
            <button>Registros</button>
            <button>Dispositivos</button>
        </div>
        <%- include('includes/control_luces.ejs') -%>
    </body>
</html>

<script>
    function clickControlLuces()
    {
        var div_control_luces = document.getElementById('div_control_luces');

        div_control_luces.style.display = 'block';
    }
</script>