<html>
    <head>
        <%- include('includes/dependencies.ejs') -%>
    </head>
    <body>
        <%-include('includes/menu.ejs')-%>
        <div id="div_contacto">
            <h4 style="display: inline;">Autor: </h4> Juan Pablo Páez Guerrero<br>
            <h4 style="display: inline;">Correo: </h4> pablopaezguerrero@uma.es<br>
            <h4 style="display: inline;">Universidad: </h4> ETSIT UMA<br>
            <h4 style="display: inline;">Departamento: </h4> Electrónica<br>
            <h4 style="display: inline;">Grado: </h4> Sistemas Electrónicos<br>
        </div>
    </body>
</html>