<html>
    <head>
        <%- include('includes/dependencies.ejs') -%>
    </head>
    <body>
        <%-include('includes/menu.ejs')-%>
        <div id="div_introduccion">
            <h1>Introducción</h1>
            <p>
                Esta aplicación web se utiliza para administrar la domótica de una vivienda. En la
                sección de (Aplicación) se puede acceder a las distintas funcionalidades, por ejemplo,
                representación en tiempo real de los sensores, control de parámetros, etc.
            </p>
        </div>
<!-- ........................................................................................ -->
<!-- ........................................................................................ -->
</body>
    <footer>
        
    </footer>
</html>