<html>
    <head>
        <%- include('includes/dependencies.ejs') -%>
    </head>
    <body>
        <%-include('includes/menu.ejs')-%>
        <div id="div_introduccion">
            <div>
                <h1>Controlador domótico</h1>
                <p>
                    Bienvenido! Con esta interfaz web, usted podrá acceder a las diferentes tecnologías 
                    instaladas en su domicilio
                </p>
                <p>
                    Este sistema domótico constará de dos partes, la centralita, que se trata de una RaspberryPI 4 modelo B.
                        Y un controlador ESP32 que estará conectado mediante WiFi y enviará la información necesaria para que 
                    todo esté a su medida y mantega su hogar más seguro.
                </p>
                <p>
                    El objetivo principal de este trabajo es poder aportar a las personas seguridad 
                    en sus hogares y facilitarles el control de los dispositivos electrónicos, como 
                    podrían ser lavadoras, calentadores de agua, vitrocerámicas, etc. Además, aportar 
                    a los interesados en este ámbito la suficiente información para que, de manera 
                    autónoma, puedan instalar un sistema propio para sus viviendas y así contribuir 
                    al desarrollo de la tecnología.

                </p>
            </div>
            <div>
                <img id = "logo_UMA"src="imagenes/icono_raspberry.png">
                <img id = "logo_UMA"src="imagenes/raspberrypi.jpg">
                <img id = "logo_UMA"src="imagenes/wifi.png">
                <img id = "logo_UMA"src="imagenes/esp32.jpg">
            </div>
            <div id="div_casa_icono">
                <img style="padding: 20px; margin-right: 36%; margin-bottom: 100px;" id = "logo_UMA"src="imagenes/domotica.png">
            </div>
        </div>
<!-- ........................................................................................ -->
<!-- ........................................................................................ -->
</body>
    <footer>
        
    </footer>
</html>